In [34]:
import pandas as pd

file = "Resources/purchase_data.csv"
data = pd.read_csv(file, header = 0)
data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [38]:
#Getting a list of all unique players
players = data['SN'].nunique()

#Counting number of players in the list
print(players)

576

In [39]:
#Creating a dictionary with our number of players
total_players = {"Total Players": players}
tp = pd.DataFrame(total_players, index = ['0'])
tp.head()

   Total Players
0            576

In [37]:
#Number of Unique Items

items = data['Item Name'].nunique()
print(items)

179

In [43]:
#Average Price per item

average_price = data['Price'].mean()
average_price

3.050987179487176

In [44]:
#Number of Purchases

purchases = data.shape[0]
purchases

780

In [45]:
#Total Revenue

revenue = data['Price'].sum()
revenue

2379.77

In [50]:
#Creating DataFrame with desired calculations

player_analysis = {"Number of Unique Items": items, "Average Price": average_price, "Number of Purchases": purchases, "Total Revenue": revenue}
pa = pd.DataFrame(player_analysis, index = ['0'])

#Formatting Currencies
pa['Average Price'] = pa['Average Price'].map('${:,.2f}'.format)
pa['Total Revenue'] = pa['Total Revenue'].map('${:,.2f}'.format)
pa.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77