In [2]:
import pandas as pd

file = "Resources/purchase_data.csv"
data = pd.read_csv(file, header = 0)
data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#Counting all unique player SN's
players = data['SN'].nunique()
print(players)

576

In [4]:
#Creating a dictionary with our number of players

total_players = {"Total Players": players}
tp = pd.DataFrame(total_players, index = ['0'])
tp.head()

   Total Players
0            576

In [5]:
#Number of Unique Items

items = data['Item ID'].nunique()
print(items)

183

In [6]:
#Average Price per item

average_price = data['Price'].mean()
average_price

3.050987179487176

In [7]:
#Number of Purchases

purchases = data.shape[0]
purchases

780

In [8]:
#Total Revenue

revenue = data['Price'].sum()
revenue

2379.77

In [9]:
#Creating 'Player Analysis' DataFrame with desired calculations

player_analysis = {"Number of Unique Items": items, "Average Price": average_price, "Number of Purchases": purchases, "Total Revenue": revenue}
pa = pd.DataFrame(player_analysis, index = ['0'])

#Formatting Currencies
pa['Average Price'] = pa['Average Price'].map('${:,.2f}'.format)
pa['Total Revenue'] = pa['Total Revenue'].map('${:,.2f}'.format)
pa.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [10]:
#Getting Gender counts

#Grouping original dataframe by "SN", then counting the number of unique 
grouped = data.groupby("Gender")["SN"].nunique()

#Collecting desired counts from the new grouped dataframe
female_count = grouped.loc['Female']
male_count = grouped.loc['Male']
other_count = grouped.loc['Other / Non-Disclosed']

grouped.head()

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [11]:
#Calculating Percentages for each Gender

male_percentage = (male_count/players)*100
female_percentage = (female_count/players)*100
other_percentage = (other_count/players)*100

In [12]:
#Creating 'Gender Demographics' dataframe

gender_dem = {"Total Count": [male_count, female_count, other_count], "Percentages": [male_percentage, female_percentage, other_percentage]}
gd = pd.DataFrame(gender_dem, index = ["Male", "Female", "Other / Non-Disclosed"])
gd['Percentages'] = gd['Percentages'].map('%{:,.2f}'.format)
gd

                       Total Count Percentages
Male                           484      %84.03
Female                          81      %14.06
Other / Non-Disclosed           11       %1.91

In [13]:
#Collecting 'Purchasing Analysis (Gender)' Information

#Grouping original dataframe by gender, then 'Purchase Count' variables
gender_group = data.groupby("Gender").size()

female_pc = gender_group.loc["Female"]
male_pc = gender_group.loc["Male"]
other_pc = gender_group.loc["Other / Non-Disclosed"]

gender_group

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
dtype: int64

In [14]:
#Grouping original dataframe by 'Gender', then summing up 'Price' values
av_price = data.groupby("Gender")["Price"].sum()

#Calculating respective average purchase prices
female_ap = av_price.loc["Female"]/female_pc
male_ap = av_price.loc["Male"]/male_pc
other_ap = av_price.loc["Other / Non-Disclosed"]/other_pc

#Gathering 'Total Purchase Value' by Gender
female_pv = av_price.loc["Female"]
male_pv = av_price.loc["Male"]
other_pv = av_price.loc["Other / Non-Disclosed"]

av_price

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [54]:
#Average Total Purchase per Person

#Grouping original dataframe by gender and sn, then summing the price each person spent, reset index to allow regrouping by gender to get the mean for each gender
tppp = data.groupby(["Gender", "SN"])["Price"].sum().reset_index().groupby("Gender").mean()

female_tppp = tppp.iloc[0,0]
male_tppp = tppp.iloc[1,0]
other_tppp = tppp.iloc[2,0]
tppp.head()

                          Price
Gender
Female                 4.468395
Male                   4.065372
Other / Non-Disclosed  4.562727

In [56]:
#Creating 'Purchasing Analysis (Gender)' dataframe

pur_an_g = {"Purchase Count": [female_pc, male_pc, other_pc], "Average Purchase Price": [female_ap, male_ap, other_ap], 
            "Total Purchase Value": [female_pv, male_pv, other_pv], "Avg Total Purchase per Person": [female_tppp, male_tppp, other_tppp]}
pag = pd.DataFrame(pur_an_g, index = ["Female", "Male", "Other / Non-Disclosed"])
pag['Average Purchase Price'] = pag['Average Purchase Price'].map('${:,.2f}'.format)
pag['Total Purchase Value'] = pag['Total Purchase Value'].map('${:,.2f}'.format)
pag['Avg Total Purchase per Person'] = pag['Avg Total Purchase per Person'].map('${:,.2f}'.format)
pag

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [78]:
#Collecting info for 'Age Demographics'

#Organzing original dataframe by age range
age_bins = [-1, 9, 14, 19, 24, 29, 34, 39, 100]
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
data["Age Range"] = pd.cut(data["Age"], age_bins, labels = bin_names)
data = data.groupby("Age Range")
data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35-39
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30-34
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-39
23,23,Eyrian71,40,Male,151,Severance,3.40,40+
24,24,Siala43,30,Male,141,Persuasion,3.19,30-34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29
26,26,Lirtossa84,11,Male,71,Demise,1.61,10-14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10
30,30,Idai61,19,Male,140,Striker,2.94,15-19
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48,35-39
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09,10-14
33,33,Haillyrgue51,7,Male,44,Bonecarvin Battle Axe,2.38,<10
34,34,Sondim73,19,Male,160,Azurewrath,4.40,15-19
36,36,Idaisuir85,30,Male,76,Haunted Bronzed Bludgeon,3.15,30-34
37,37,Seuthep89,8,Male,73,Ritual Mace,2.05,<10
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18,10-14
42,42,Aidaillodeu39,18,Male,72,Winter's Bite,3.77,15-19
46,46,Yasrisu92,27,Male,102,Avenger,3.44,25-29
49,49,Iaralrgue74,33,Male,110,Suspension,1.44,30-34
53,53,Ilosianya35,32,Male,176,Relentless Iron Skewer,2.84,30-34
54,54,Zhisrisu83,10,Male,25,Hero Cane,4.35,10-14
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79,25-29
56,56,Raesty92,12,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,10-14
59,59,Yaliru88,19,Male,105,Hailstorm Shadowsteel Scythe,3.03,15-19
61,61,Jiskimya77,17,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,15-19
65,65,Chamirraya83,25,Male,34,Retribution Axe,2.22,25-29
70,70,Pheodai94,29,Male,143,Frenzied Scimitar,1.56,25-29
78,78,Haillyrgue51,7,Male,50,Dawn,4.60,<10
81,81,Heudai45,8,Female,174,Primitive Blade,3.47,<10
156,156,Eyrian71,40,Male,117,"Heartstriker, Legacy of the Light",1.79,40+
220,220,Jiskjask85,40,Male,46,Hopeless Ebon Dualblade,1.33,40+
248,248,Isursuir31,44,Male,137,"Aetherius, Boon of the Blessed",3.39,40+