In [2]:
import pandas as pd

file = "Resources/purchase_data.csv"
data = pd.read_csv(file, header = 0)
data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [15]:
#Counting all unique player SN's
players = data['SN'].nunique()
print(players)

576

In [4]:
#Creating a dictionary with our number of players

total_players = {"Total Players": players}
tp = pd.DataFrame(total_players, index = ['0'])
tp.head()

   Total Players
0            576

In [5]:
#Number of Unique Items

items = data['Item ID'].nunique()
print(items)

183

In [6]:
#Average Price per item

average_price = data['Price'].mean()
average_price

3.050987179487176

In [7]:
#Number of Purchases

purchases = data.shape[0]
purchases

780

In [8]:
#Total Revenue

revenue = data['Price'].sum()
revenue

2379.77

In [9]:
#Creating 'Player Analysis' DataFrame with desired calculations

player_analysis = {"Number of Unique Items": items, "Average Price": average_price, "Number of Purchases": purchases, "Total Revenue": revenue}
pa = pd.DataFrame(player_analysis, index = ['0'])

#Formatting Currencies
pa['Average Price'] = pa['Average Price'].map('${:,.2f}'.format)
pa['Total Revenue'] = pa['Total Revenue'].map('${:,.2f}'.format)
pa.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [41]:
#Getting Gender counts

#Grouping original dataframe by "SN", then counting the number of unique 
grouped = data.groupby("Gender")["SN"].nunique()

#Collecting desired counts from the new grouped dataframe
female_count = grouped.loc['Female']
male_count = grouped.loc['Male']
other_count = grouped.loc['Other / Non-Disclosed']

grouped.head()

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [48]:
#Calculating Percentages for each Gender

male_percentage = (male_count/players)*100
female_percentage = (female_count/players)*100
other_percentage = (other_count/players)*100

In [49]:
#Creating 'Gender Demographics' dataframe

gender_dem = {"Total Count": [male_count, female_count, other_count], "Percentages": [male_percentage, female_percentage, other_percentage]}
gd = pd.DataFrame(gender_dem, index = ["Male", "Female", "Other / Non-Disclosed"])
gd['Percentages'] = gd['Percentages'].map('%{:,.2f}'.format)
gd

                       Total Count Percentages
Male                           484      %84.03
Female                          81      %14.06
Other / Non-Disclosed           11       %1.91

In [59]:
#Collecting 'Purchasing Analysis (Gender)' Information

#Grouping original dataframe by gender, then 'Purchase Count' variables
gender_group = data.groupby("Gender").size()

female_pc = gender_group.loc["Female"]
male_pc = gender_group.loc["Male"]
other_pc = gender_group.loc["Other / Non-Disclosed"]

gender_group

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
dtype: int64

In [64]:
#Grouping original dataframe by 'Gender', then summing up 'Price' values
av_price = data.groupby("Gender")["Price"].sum()

#Calculating respective average purchase prices
female_ap = av_price.loc["Female"]/female_pc
male_ap = av_price.loc["Male"]/male_pc
other_ap = av_price.loc["Other / Non-Disclosed"]/other_pc

#Gathering 'Total Purchase Value' by Gender
female_pv = av_price.loc["Female"]
male_pv = av_price.loc["Male"]
other_pv = av_price.loc["Other / Non-Disclosed"]

av_price

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64